cd "C:\Users\58008_Rock\Desktop\College\VU\FY Sem 2\Python\FaceObjectRecognitionApp"

C:\Users\58008_Rock\AppData\Local\Microsoft\WindowsApps\python3.11.exe -m venv myvirtualenv

myvirtualenv\Scripts\activate

python.exe -m pip install --upgrade pip

pip install opencv-python-headless face-recognition numpy pillow customtkinter ttkbootstrap

pip install face_recognition git+https://github.com/ageitgey/face_recognition_models 

pip install FaceObjectRecognitionApp-0.2.tar.gz


python gui\app.py

python recognition\face_recognition_script.py

python recognition\face_registration_script.py




